{% extends "base.html" %}

{% block title %} {{titulo}} {% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron" style="margin-top: 200px;">
        <div class="container">
            <h2 class="text-center">{{titulo}}</h2>

            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Mensagem:</strong> {{mensagem}}
            </div>
            
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Branch</th>
                            <th>Projeto </th>
                            <th>Recurso</th>
                            <th>Nome do Arquivo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr"> 
                            <td>{{branch}}</td>
                            <td>{{projeto}}</td>
                            <td>{{recurso}}</td>
                            <td>{{nomeArquivo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container"></div>
        <a class="btn btn-default" href="/" role="button">Voltar</a>
    </div>
</div>

{% endblock %}
